body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 360px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.button1 {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
}

.button2 {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: #FF69B4;
    color: white;
    border: none;
    border-radius: 5px;
}

.button3 {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: #FF9933;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

#message {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    text-align: left;
    margin-top: 10px;
}